annotated-types==0.6.0
blinker==1.8.2
bytecode==0.15.1
click==8.1.7
colorama==0.4.6
dearpygui==1.10.1
distlib==0.3.8
fastjsonschema==2.21.1
filelock==3.13.1
Flask==2.3.0
Flask-Cors==4.0.0
Flask-MySQL==1.5.2
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
libclang==18.1.1
Markdown==3.10
MarkupSafe==2.1.5
mdurl==0.1.2
ml_dtypes==0.5.4
mysql-connector-python==8.2.0
mysqlclient==2.2.4
namex==0.1.0
numpy==2.1.0
opencv-python==4.13.0.90
opt_einsum==3.4.0
optree==0.16.0
packaging==25.0
parso==0.8.4
phonenumbers==8.13.27
pillow==11.2.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
protobuf==5.29.5
psutil==7.0.0
pure_eval==0.2.3
pydantic==2.5.3
pydantic_core==2.14.6
pygame==2.5.1
Pygments==2.19.2
PyMySQL==1.1.0
pyparsing==3.2.3
pytz==2025.2
pywin32==308
pyzmq==26.4.0
Rx==3.2.0
scipy==1.15.1
six==1.17.0
SQLAlchemy==2.0.28
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
threadpoolctl==3.6.0
tornado==6.5.4
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.5.0
vine==5.1.0
virtualenv==20.25.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.2
wrapt==1.17.2
xdis==6.1.1
